<h1>Listing stores</h1>

<table id="stores-list">
  <thead>
    <tr>
      <th>Location name</th>
      <th>Company</th>
      <th>No. of Employees</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @stores.each do |store| %>
      <%= render store %>
    <% end %>
  </tbody>
</table>

<br />

<div id="new-store-wrapper">
<%= link_to 'New Store', new_store_path, id: "new-store-link", remote: true %>
</div>
